html { margin: 0; padding: 0 }
body {
	background-color: white;
	font-family: Helvetica, sans-serif;
	font-weight: 100;
}
a {
	color: #395169;
}
a:hover {
	text-decoration: none;
}
.odd_section {
	background-color: #fafafa;
}
.main_icon {
	display: block;
	height: 96px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 96px;
}
.main_title {
	color: black;
	display: block;
	height: 96px;
	margin-left: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: "Maven Pro", sans-serif;
	font-size: 72px;
	font-weight: 100;
	line-height: 90px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	font-size: 32px;
	line-height: 96px;
	list-style: none;
	margin-left: 0;
	margin-top: 24px;
}
nav li:last-child {
	margin-left: 32px;
}
nav a {
	color: black;
	font-weight: 100;
}
nav a:hover {
	color: #395169;
	text-decoration: none;
}
h1 {
	color: black;
	font-size: 48px;
	font-weight: 100;
	margin: 0;
	margin-top: 48px;
	margin-bottom: 12px;
	padding: 0;
}
h2 {
	color: #808080;
	font-size: 26px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 52px;
	padding: 0;
}
.separator {
	height: 1px;
	border-bottom: 1px solid #dddddd;
}
.feature {
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: center;
}
.feature i {
	color: black;
	color: #395169;
	font-size: 32px;
}
.feature p {
	font-weight: 100;
	padding-top: 16px;
	text-align: center;
}
strong {
	font-weight: normal;
}
.helpbox {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	border-radius: 5px;
	font-weight: 100;
	margin-top: 36px;
	margin-bottom: 36px;
}
.helpbox div {
	color: #395169;
	font-size: 24px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 10px;
}
.helpbox p {
	padding: 10px;
	padding-top: 0;
	text-align: justify;
}
.helpbox ul {
	padding-left: 24px;
	padding-right: 10px;
}
.helpbox li {
	margin-bottom: 5px;
}
.text-header {
	font-size: 18px;
	text-align: justify;
	padding-top: 36px;
	padding-bottom: 10px;
}
.text {
	font-size: 16px;
	text-align: justify;
}
.terminal-output {
	background-color: black;
	border-radius: 5px;
	padding: 15px;
	margin-top: 36px;
	margin-bottom: 36px;
}
#screenshot_bw_apply {
	height: 285px;
	width: 390px;
}
footer {
	padding-top: 48px;
	padding-bottom: 128px;
	text-align: center;
}
.cta {
	padding: 80px;
	text-align: center;
}
.cta a {
	color: white;
	background-color: #395169;
	border-radius: 5px;
	font-family: "Maven Pro";
	font-size: 36px;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
.cta:hover {
	color: white;
}
footer {
	margin-top: 40px;
	margin-bottom: 40px;
}
footer a {
	color: #909fae;
	font-size: 36px;
	margin-left: 20px;
}
footer a:hover {
	color: #395169;
}
