body {
	background-color: #283741;
	background-image: url("../img/bkg.png");
	font-family: "Maven Pro", sans-serif;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	body {
		background-image: url("../img/bkg_@2X.png");
	}
}
header {
	margin-bottom: 47px;
	margin-top: 47px;
}
header .btn-group {
	line-height: 128px;
	margin-right: 47px;
}
h1 {
	font-family: "Maven Pro", sans-serif;
	font-size: 96px;
	font-weight: 200;
	line-height: 75px;
}
h2 {
	margin-bottom: 20px;
	margin-left: 47px;
	margin-top: 32px;
}
li {
	font-size: 16px;
	line-height: 28px;
	margin-left: 20px;
}
p {
	color: #444;
	font-size: 16px;
	/*line-height: 18px;*/
	margin-left: 47px;
	padding-bottom: 10px;
	text-align: justify;
}
ul {
	margin-left: 47px;
}
.badges {
	margin-left: 53px;
	margin-right: 47px;
	text-align: center;
}
.badgerow {
	display: block;
	margin: 5px;
}
.btn-xlarge {
	padding: 9px 19px;
	padding-bottom: 11px;
	font-size: 25px !important;
	line-height: normal;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}
.container {
	background-color: white;
	border: 1px solid black;
	border-radius: 0 0 6px 6px;
	border-top: 0;
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.9);
	padding-bottom: 47px;
}
.intro {
	font-size: 20px;
	line-height: 26px;
}
.main_icon {
	height: 128px;
	margin-left: 47px;
	margin-right: 47px;
	opacity: 0.2;
	width: 128px;
}
.main_title {
	margin-left: 10px;
}
.subtitle {
	color: #a0a0a0;
	font-size: 20px;
	margin-left: 10px;
	padding-top: 6px;
}
