html { margin: 0; padding: 0 }
body {
	background-color: black;
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: 100;
}
a {
	color: white;
}
a:hover {
	color: white;
	text-decoration: none;
}
.blue_section {
	background-color: #003b5d;
	background: linear-gradient(to bottom, #003b5d 0%,#178acc  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	background: linear-gradient(to bottom, #003b5d 0%,#000000  100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-top: 1px solid #178acc;
}
.main_icon {
	border: 1px solid white;
	border-radius: 8px;
	display: block;
	height: 96px;
	margin-top: 24px;
	margin-bottom: 24px;
	width: 96px;
}
.main_title {
	color: white;
	display: block;
	height: 96px;
	margin-left: 24px;
	margin-top: 24px;
	margin-bottom: 24px;
	font-family: "Maven Pro", sans-serif;
	font-size: 72px;
	font-weight: 100;
	line-height: 90px;
}
nav ul {
	margin: 0;
	padding: 0;
}
nav li {
	display: inline-block;
	font-size: 32px;
	line-height: 96px;
	list-style: none;
	margin-left: 0;
	margin-top: 24px;
}
nav li:last-child {
	margin-left: 32px;
}
nav a {
	color: white;
	font-weight: 100;
}
nav a:hover {
	text-decoration: none;
}
h1 {
	color: white;
	font-size: 48px;
	font-weight: 100;
	margin: 0;
	margin-top: 48px;
	margin-bottom: 12px;
	padding: 0;
}
h2 {
	color: #a0a0a0;
	font-size: 26px;
	font-weight: 300;
	margin: 0;
	margin-bottom: 52px;
	padding: 0;
}
.feature {
	color: #d0d0d0;
	font-size: 15px;
	padding-top: 24px;
	padding-bottom: 24px;
	text-align: center;
}
.feature-icon {
	color: #e0e0e0;
	font-size: 32px;
}
.feature p {
	font-weight: 100;
	padding-top: 16px;
	text-align: center;
}
strong {
	color: white;
	font-weight: 600;
}
.helpbox {
	background-color: #151515;
	border: 1px solid #303030;
	border-radius: 5px;
	color: #d0d0d0;
	font-weight: 100;
	font-size: 15px;
	margin-top: 36px;
	margin-bottom: 36px;
	padding: 24px;
	text-align: justify;
}
.helpbox-header {
	color: #d0d0d0;
	font-size: 24px;
	padding-bottom: 16px;
}
.helpbox-section {
	font-size: 20px;
}
.helpbox ul {
	padding-left: 24px;
	padding-right: 10px;
}
.helpbox li {
	color: #d0d0d0;
	margin-bottom: 5px;
}
.help-header {
	color: white;
}
.text-header {
	color: #d0d0d0;
	font-size: 15px;
	text-align: justify;
	padding-top: 36px;
	padding-bottom: 10px;
}
.text {
	color: #d0d0d0;
	font-size: 15px;
	text-align: justify;
}
.terminal {
	background-color: black;
	border-radius: 5px;
	color: #d7d7d7;
	font-family: source-code-pro;
	font-size: 12px;
	line-height: 140%;
	margin-bottom: 32px;
	margin-top: 32px;
	overflow: auto;
	padding-left: 15px;
	padding: 10px;
	white-space: pre;
}
.terminal b {
	color: white;
}
.terminal .blue {
	color: #0225c7;
}
.terminal .green {
	color: #0af70a;
}
.terminal .red {
	color: #f13113;
}
.terminal .yellow {
	color: #f3ef0e;
}
.cta {
	padding: 80px;
	text-align: center;
}
.cta a {
	color: black;
	background-color: white;
	border-radius: 5px;
	font-family: "Maven Pro";
	font-size: 36px;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 25px;
	padding-right: 25px;
}
.cta:hover {
	color: white;
}
footer {
	padding: 48px;
	text-align: center;
}
footer a {
	color: #ccc;
	font-size: 36px;
	margin-left: 20px;
}
footer a:hover {
	color: white;
}
